.statics {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.panels {
  display: flex;
  justify-content: center;
  width: 100%;
}
.panel {
  background-color: #393e46;
  padding: 24px;
  border-radius: 8px;
  /* width: 50%; */
  width: 100%;
  margin: 0 16px;
  text-align: center;
}
.title {
  font-weight: bold;
  margin-bottom: 8px;
}
.icon {
  width: auto;
  height: 24px;
  margin-bottom: 16px;
}
.speed {
  font-size: 1.5rem;
  font-weight: bold;
}
.resetbtn {
  margin: 0 auto;
  padding: 14px;
  text-align: center;
  background-color: #393e46;
  border-radius: 4px;
  margin-top: 24px;
  appearance: none;
  border: none;
  color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
  outline: none;
  font-size: 1rem;
}
