.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.errorMsg {
  text-align: center;
  font-size: 2rem;
  line-height: 2;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 64px;
}
